#head1 {
  background-color: orange;
  color: white;
}
#box1 {
  color: black;
  transition: color 0.3s;
  background-color: orange;
}
#box1:hover {
  color: white;
}

#dhead1 {
  background-color: rgb(255, 203, 107);
  color: white;
}
#dhead11:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
#dhead11 {
  border: none;

  background-color: rgb(255, 203, 107);
}
a:hover {
  color: black;
}
#navbarSupportedContent1,
#navbarSupportedContent2,
#navbarSupportedContent3,
#navbarSupportedContent4 {
  background-color: orange;
}
a {
  color: white;
}

#navbarSupportedContent21,
#navbarSupportedContent22,
#navbarSupportedContent23,
#navbarSupportedContent24 {
  background-color: violet;
}

#head2 {
  background-color: violet;
  color: white;
}
#box2 {
  color: black;
  transition: color 0.3s;
  background-color: violet;
}
#box2:hover {
  color: white;
}

#dhead2 {
  background-color: rgb(255, 202, 252);
}
#dhead12:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
#dhead12 {
  border: none;
  background-color: rgb(255, 202, 252);
}

#navbarSupportedContent31,
#navbarSupportedContent32,
#navbarSupportedContent33,
#navbarSupportedContent34 {
  background-color: rgb(47, 206, 47);
}

#head3 {
  background-color: rgb(47, 206, 47);
  color: white;
}
#box3 {
  color: black;
  transition: color 0.3s;
  background-color: rgb(47, 206, 47);
}
#box3:hover {
  color: white;
}

#dhead3 {
  background-color: rgb(187, 255, 174);
}
#dhead13:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
#dhead13 {
  border: none;
  background-color: rgb(187, 255, 174);
}

#navbarSupportedContent41,
#navbarSupportedContent42,
#navbarSupportedContent43,
#navbarSupportedContent44 {
  background-color: rgb(35, 53, 211);
}

#head4 {
  background-color: rgb(35, 53, 211);
  color: white;
}
#box4 {
  color: black;
  transition: color 0.3s;
  background-color: rgb(35, 53, 211);
}
#box4:hover {
  color: white;
}

#dhead4 {
  background-color: rgb(188, 197, 253);
}
#dhead14:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
#dhead14 {
  border: none;
  background-color: rgb(188, 197, 253);
}
/* font-weight: bold;
  transition: all ease-in-out 0.1s; */
body {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
}
